


#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.mainContainer {
  background-image: url('https://plus.unsplash.com/premium_photo-1669809948017-518b5d800d73?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
   background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}



.appTitle {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.cardContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.cardContainer .MuiCard-root {
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.MuiCardContent-root {
  background-color: #f9f9f9;
}

.MuiTypography-root {
  margin-bottom: 0.5rem;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
